body {
    margin: 0;
    font-family: lora;
  }

  .h1{
    color: #FC0763;
    font-family: lora;
  }

  .h2{
    font-family: lora;
  }
  
  .navbar {
    background-color: #FC0763;
    color: aliceblue;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
  }
  
  .btn {
    color: rgb(0, 0, 0);
    font-family: lora;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    margin-left: -25px;
    display: inline-block;
  }
  
  .btn img {
    height: 30px;
    width: auto;
    vertical-align: middle;
  }
  
  .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .btn {
      display: none;
    }
    .icon {
      display: block;
      color: white;
      text-decoration: none;
      padding: 10px 15px;
    }
  }
  
  .logotpm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .center-img {
    max-width: 100%;
    height: auto;
  }

  .quemsomos {
    text-align: center; /* Centraliza o texto */
    padding: 20px; /* Espaçamento interno */
    margin: 0 auto; /* Centraliza o elemento horizontalmente */
    max-width: 800px; /* Limita a largura do texto */
  }
  
  .quemsomos h1 {
    margin-bottom: 20px; /* Espaçamento inferior para o título */
  }
  
  .quemsomos h3 {
    margin-top: 20px; /* Espaçamento superior para o texto */
    line-height: 1.5; /* Espaçamento entre linhas */
  }

  .sequencia {
    display: flex;
    flex-direction: column; /* Para que as imagens fiquem uma abaixo da outra */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    height: 100vh; /* Define a altura do container como a altura total da tela */
}

/* Estilos para imagens */
.sequencia {
    max-width: 100%;
    height: auto;
    margin-bottom: -20px; /* Espaçamento entre as imagens */
}

/* Estilos para tela pequena */
@media only screen and (max-width: 600px) {
    .sequencia {
        height: auto; /* Altura automática para telas menores */
    }
}

  .mulheres {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Define a altura total da tela */
  }
  
  .responsive-img {
    max-width: 40%; /* Define o tamanho máximo da imagem */
    height: auto;
    display: block; /* Garante que a imagem seja tratada como bloco */
    margin: 0 auto; /* Centraliza horizontalmente */
  }

  .iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Proporção 16:9 (9 dividido por 16 vezes 100) */
    overflow: hidden;
    margin: 35px;
  }
  
  .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .inscrição{
    text-align: center;
  }

  footer {
    background-color: #FC0763; /* Cor de fundo do footer */
    color: #fff; /* Cor do texto */
    text-align: center; /* Alinhamento do texto */
    padding: 20px 0; /* Espaçamento interno superior e inferior */
}

/* Estilos para os ícones */
footer a {
    margin: 0 20px; /* Espaçamento entre os ícones */
    display: inline-block; /* Garante que os ícones ocupem o espaço necessário */
}

/* Estilos para o footer responsivo */
@media only screen and (max-width: 600px) {
    footer a {
        margin: 10px 0; /* Espaçamento entre os ícones na vertical */
    }
}
  .image-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Define a altura total da tela */
  }
  
.logo{
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}